/* 
* Table of Contents *
1. Variables
    1.1 Font Weights
    1.2 Colors
2. Mix-Ins
3. Global Styles
*/

// ** Variables ** //
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 800;
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

// ** Colors ** //
$white: #fff;
$off-white: #f2fafa;
$off-white-text: #dee7e7;
$light-blue: #a8dadc;
$blue: #a8dadc;
$text-blue: #326f96;
$blue: #457b9d;
$dark-blue: #1d3557;
$red: #e63946;
$gradient-color-one: rgba(168, 218, 220, 1);
$gradient-color-two: rgba(87, 179, 204, 1);

// ** Mix-Ins ** //
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

// ** Global Styles ** //
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

li,
a {
  color: red;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  scroll-behavior: smooth;
  height: 100%;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}
#upBtn {
  display: block;
  opacity: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
  z-index: 99;
  border: none;
  outline: none;
  background: $gradient-color-one;
  --c1: rgba(168, 218, 220, 1);
  --c2: rgba(87, 179, 204, 1);
  background: linear-gradient(
      132deg,
      var(--c1, $gradient-color-one),
      var(--c2, $gradient-color-two) 51%,
      var(--c1, $gradient-color-one)
    )
    var(--x, 0) / 200%;
  border-radius: 100px;
  transition: 200ms ease;
  cursor: default;
}
.btn_active {
  cursor: pointer !important;
  opacity: 1 !important;
  transition: 200ms ease-in !important;
}
#upBtnArrow {
  width: 0.75rem;
}
// #upBtn:hover > #upBtnArrow > #upBtnLineTwo {
//   animation: arrowFloatIn 1s infinite;
// }
// #upBtnLineTwo {
//   transform: translateY(0%);
//   transition: 200ms ease;
//   //animation: arrowFloatOut 1s;
// }
.floatArrow {
  animation: arrowFloatIn 1s infinite;
}
@keyframes arrowFloatIn {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0%);
  }
}
@keyframes arrowFloatOut {
  0%,
  100% {
    transform: translateY(0%);
  }
}
// ** Navbar ** //
.background-container {
  height: 90vh;
  background: rgb(23, 42, 69);
  background: linear-gradient(
    90deg,
    rgba(23, 42, 69, 1) 0%,
    rgba(30, 53, 84, 1) 100%
  );
}
.logo {
  width: 3rem;
}
#triangleOne {
  transition: 200ms ease-in;
}
#triangleTwo {
  transition: 200ms ease-in;
}
#triangleContainer {
  cursor: default;
}
#triangleContainer:hover > #triangleTwo {
  fill: #ff8b96;
  transform: translate(-2px, 2px);
  transition: 200ms ease-in;
}
#triangleContainer:hover > #triangleOne {
  fill: #ff6c7a;
  transform: translate(2px, -2px);
  transition: 200ms ease-in;
}
.margin-container {
  margin: 0.75rem 7rem;
}
.nav-link {
  color: $off-white;
  font-size: 1rem;
  font-weight: $regular;
  margin-right: 1rem;
  cursor: pointer;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0);
}
.navbar .navbar-toggler {
  color: rgba(255, 255, 255, 0.55) !important;
}
.nav .nav-link:hover,
.nav-link:focus {
  color: darken($off-white, 15%);
  transition: ease 150ms;
}

// ** Hero Section ** //
.hero {
  margin: 2rem 4rem;
  color: $off-white;

  &__title {
    font-size: 3rem;
    font-weight: $semi-bold;
    display: inline-block;
    z-index: 10;
    line-height: 1;
    &_zindex {
      position: relative;
      z-index: 10;
    }
    &_circleContainer {
      position: relative;
      z-index: 10;
    }
    &_circle {
      height: 6rem;
      width: 6rem;
      border: #3f5a81 solid 3px;
      border-radius: 50%;
      position: absolute;
      right: -2rem;
      top: -1rem;
      z-index: -1;
      animation: float 6s infinite;
    }
    @keyframes float {
      0% {
        transform: scaleX(1) scaleY(1);
      }

      50% {
        transform: scaleX(1.05) scaleY(1.05);
      }

      100% {
        transform: scaleX(1) scaleY(1);
      }
    }
  }

  &__paragraph {
    position: relative;
    z-index: 10;
    font-size: 1rem;
    color: $off-white-text;
    font-weight: $light;
    max-width: 60ch;
    margin: 0.5rem 0 0 0;
    line-height: 1.5;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;

    &_portfolio {
      font-weight: $semi-bold;
      letter-spacing: 0.5px;
      border-radius: 100px;
      display: flex;
      align-self: center;
      cursor: pointer;
      text-decoration: none;
      background-color: $light-blue;
      color: $dark-blue;
      text-align: center;
      font-size: 1.1rem;
      padding: 0.1rem 1.35rem;
      transition: all 200ms ease-out;
      margin-right: 1rem;
    }

    &_portfolio:hover,
    &_portfolio:focus {
      background-color: darken($light-blue, 10%);
      color: darken($dark-blue, 10%);
      transition: all 200ms ease-in;
    }

    &_resume {
      font-weight: $semi-bold;
      letter-spacing: 0.5px;
      border-radius: 100px;
      display: flex;
      align-self: center;
      cursor: pointer;
      text-decoration: none;
      background-color: transparent;
      color: $light-blue;
      border: $light-blue solid 3px;
      text-align: center;
      font-size: 1.1rem;
      padding: 0.05rem 1.35rem;
      transition: background-color 200ms ease-out;
    }
    &_resume:hover,
    &_resume:focus {
      background-color: $light-blue;
      color: $dark-blue;
      transition: all 200ms ease-in;
    }
  }
}

// ** About Section ** //
.aboutColor {
  background: rgb(23, 42, 69);
  background: linear-gradient(
    90deg,
    rgba(23, 42, 69, 1) 0%,
    rgba(30, 53, 84, 1) 100%
  );
}
.aboutPath {
  background-image: url(https://justinjp126.github.io/Portfolio/img/rect.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 15%;
}
.about {
  &__title {
    color: #3d516e;
    font-weight: $semi-bold;
    line-height: 1;
    font-size: 2.5rem;
    padding-top: 1.5rem;
    &_period {
      color: #ff8b96;
    }
  }

  &__paragraph {
    color: #275a7a;
    font-weight: $light;
    line-height: 1.5;
    padding: 1rem 1.5rem 0 0;
    font-size: 0.9rem;
    max-width: 60ch;
  }

  &__img {
    width: 10rem;
    border-radius: 2rem;
    position: relative;
    z-index: 10;
  }
  &__imgOutline {
    border: 3px solid #d3e4ff;
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 15px;
    width: 10rem;
    height: 100%;
    border-radius: 2rem;
  }
}

// ** My Work Section ** //
.work {
  background: rgb(23, 42, 69);
  background: linear-gradient(
    90deg,
    rgba(23, 42, 69, 1) 0%,
    rgba(30, 53, 84, 1) 100%
  );
  padding: 0rem 8%;

  &__title {
    color: #f2fafa;
    font-weight: $semi-bold;
    line-height: 1;
    font-size: 2.5rem;
    padding: 3rem 0 2rem 8%;
    &_period {
      color: #ff8b96;
    }
  }

  &__subtitle {
    color: #fff;
    font-weight: $semi-bold;
    line-height: 1;
    font-size: 1.1rem;
  }

  &__paragraph {
    color: #f2fafa;
    font-weight: $light;
    line-height: 1.5;
    font-size: 0.9rem;
  }

  &__img {
    &_nhd {
      width: 80%;
      border-radius: 1rem;
      transform: scale(105%);
      transition: 200ms ease;
    }
    &_nhd:hover,
    &_nhd:focus {
      transform: scale(100%);
      transition: 200ms ease;
    }
    &_wiz {
      width: 100%;
      border-radius: 1rem;
    }
    &_volta {
      width: 100%;
      border-radius: 1rem;
    }
    &_nhmi {
      width: 100%;
      border-radius: 1rem;
    }
    &_dmc {
      width: 100%;
      border-radius: 1rem;
    }
  }

  &__year {
    &_2018,
    &_2019,
    &_2020,
    &_2021 {
      position: absolute;
      transform: rotate(90deg);
      font-weight: $bold;
      font-size: 8rem;
      color: rgba(#457b9d, 0.2);
      z-index: 1;
      letter-spacing: 1px;
    }
  }
}
