/* 
* Table of Contents *
1. Variables
    1.1 Font Weights
    1.2 Colors
2. Mix-Ins
3. Global Styles
*/

// ** Variables ** //
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 800;
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

// ** Colors ** //
$white: #fff;
$off-white: #f2fafa;
$off-white-text: #dee7e7;
$light-blue: #a8dadc;
$blue: #a8dadc;
$text-blue: #326f96;
$blue: #457b9d;
$dark-blue: #1d3557;
$red: #e63946;
$gradient-color-one: rgba(168, 218, 220, 1);
$gradient-color-two: rgba(87, 179, 204, 1);

// ** Sizes ** //
$sm: 576px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;

// ** Mix-Ins ** //
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

// ** Global Styles ** //
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  scroll-behavior: smooth;
  height: 100%;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}
#upBtn {
  display: block;
  opacity: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
  z-index: 99;
  border: none;
  outline: none;
  background: $gradient-color-one;
  --c1: rgba(168, 218, 220, 1);
  --c2: rgba(87, 179, 204, 1);
  background: linear-gradient(
      132deg,
      var(--c1, $gradient-color-one),
      var(--c2, $gradient-color-two) 51%,
      var(--c1, $gradient-color-one)
    )
    var(--x, 0) / 200%;
  border-radius: 100px;
  transition: 200ms ease;
  cursor: default;
}
.btn_active {
  cursor: pointer !important;
  opacity: 1 !important;
  transition: 200ms ease-in !important;
}
#upBtnArrow {
  width: 0.75rem;
}

.floatArrow {
  animation: arrowFloatIn 1s infinite;
}
@keyframes arrowFloatIn {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0%);
  }
}
@keyframes arrowFloatOut {
  0%,
  100% {
    transform: translateY(0%);
  }
}
// ** Navbar ** //
.background-container {
  height: calc(min(80vh, 35rem));
  background: rgb(23, 42, 69);
  background: linear-gradient(
    90deg,
    rgba(23, 42, 69, 1) 0%,
    rgba(30, 53, 84, 1) 100%
  );
}
.logo {
  width: 3rem;
}
#triangleOne {
  transition: 200ms ease-in;
}
#triangleTwo {
  transition: 200ms ease-in;
}
#triangleContainer {
  cursor: default;
}
#triangleContainer:hover > #triangleTwo {
  fill: #ff8b96;
  transform: translate(-2px, 2px);
  transition: 200ms ease-in;
}
#triangleContainer:hover > #triangleOne {
  fill: #ff6c7a;
  transform: translate(2px, -2px);
  transition: 200ms ease-in;
}
.margin-container {
  margin: 0.75rem 4.5rem;
}
.nav-link {
  color: $off-white;
  font-size: 1rem;
  font-weight: $regular;
  margin-right: 1rem;
  cursor: pointer;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0);
}
.navbar .navbar-toggler {
  color: rgba(255, 255, 255, 0.55) !important;
}
.nav .nav-link:hover,
.nav-link:focus {
  color: darken($off-white, 15%);
  transition: ease 150ms;
}
@media only screen and (max-width: $lg) {
  .margin-container {
    margin: 0.75rem 3rem;
  }
}
@media only screen and (max-width: $md) {
  .margin-container {
    margin: 0.75rem 1rem;
  }
}

// ** Hero Section ** //
.hero {
  margin: 2rem 5rem;
  color: $off-white;

  &__title {
    font-size: 2.75rem;
    font-weight: $semi-bold;
    display: inline-block;
    z-index: 10;
    line-height: 1;
    &_zindex {
      position: relative;
      z-index: 10;
    }
    &_circleContainer {
      position: relative;
      z-index: 10;
    }
    &_circle {
      height: 6rem;
      width: 6rem;
      border: #3f5a81 solid 3px;
      border-radius: 50%;
      position: absolute;
      right: -2rem;
      top: -1rem;
      z-index: -1;
      animation: float 6s infinite;
    }
    @keyframes float {
      0% {
        transform: scaleX(1) scaleY(1);
      }

      50% {
        transform: scaleX(1.05) scaleY(1.05);
      }

      100% {
        transform: scaleX(1) scaleY(1);
      }
    }
  }

  &__paragraph {
    position: relative;
    z-index: 10;
    font-size: 1rem;
    color: $off-white-text;
    font-weight: $light;
    max-width: 60ch;
    margin: 0.5rem 0 0 0;
    line-height: 1.6;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;

    &_portfolio {
      font-weight: $semi-bold;
      letter-spacing: 0.5px;
      border-radius: 100px;
      display: flex;
      align-self: center;
      cursor: pointer;
      text-decoration: none;
      background-color: $light-blue;
      color: $dark-blue;
      text-align: center;
      font-size: 1.1rem;
      padding: 0.1rem 1.35rem;
      transition: all 200ms ease-out;
      margin-right: 1rem;
    }

    &_portfolio:hover,
    &_portfolio:focus {
      background-color: darken($light-blue, 10%);
      color: darken($dark-blue, 10%);
      transition: all 200ms ease-in;
    }

    &_resume {
      font-weight: $semi-bold;
      letter-spacing: 0.5px;
      border-radius: 100px;
      display: flex;
      align-self: center;
      cursor: pointer;
      text-decoration: none;
      background-color: transparent;
      color: $light-blue;
      border: $light-blue solid 3px;
      text-align: center;
      font-size: 1.1rem;
      padding: 0.05rem 1.35rem;
      transition: background-color 200ms ease-out;
    }
    &_resume:hover,
    &_resume:focus {
      background-color: $light-blue;
      color: $dark-blue;
      transition: all 200ms ease-in;
    }
  }
}

@media only screen and (max-width: $md) {
  .background-container {
    height: calc(min(80vh, 35rem));
  }
  .hero {
    margin: 2rem 0.5rem;
    height: 80vh;
    &__title {
      &_circle {
        right: -1.5rem;
        top: -1.5rem;
      }
    }
  }
}

// ** About Section ** //
.aboutColor {
  background: rgb(23, 42, 69);
  background: linear-gradient(
    90deg,
    rgba(23, 42, 69, 1) 0%,
    rgba(30, 53, 84, 1) 100%
  );
}
.aboutPath {
  background-image: url(https://justinjp126.github.io/Portfolio/img/rect.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem 15% 6rem;
}
.about {
  &__title {
    color: #3d516e;
    font-weight: $semi-bold;
    line-height: 1;
    font-size: 2.5rem;
    padding-top: 1.5rem;
    &_period {
      color: #ff8b96;
    }
  }

  &__paragraph {
    color: #275a7a;
    font-weight: $light;
    line-height: 1.6;
    padding: 1rem 1.5rem 0 0;
    font-size: calc(max(0.9rem, 15px));
    max-width: 60ch;
  }

  &__img {
    width: 10rem;
    border-radius: 2rem;
    position: relative;
    z-index: 10;
  }
  &__imgOutline {
    border: 3px solid #d3e4ff;
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 15px;
    width: 10rem;
    height: 100%;
    border-radius: 2rem;
  }
}

@media only screen and (max-width: $md) {
  .about {
    .imgPadding {
      padding: 1.5rem 0 0 0 !important;
    }
    &__paragraph {
      padding: 1rem 0 0 0;
    }
    &__img {
      width: 90%;
    }
    &__imgOutline {
      width: 90%;
    }
  }
  .aboutPath {
    padding: 8.5rem 5% 7rem;
  }
}

// ** My Work Section ** //

#workSection {
  background: rgb(23, 42, 69);
  background: linear-gradient(
    90deg,
    rgba(23, 42, 69, 1) 0%,
    rgba(30, 53, 84, 1) 100%
  );
}
.work {
  background: rgb(23, 42, 69);
  background: linear-gradient(
    90deg,
    rgba(23, 42, 69, 1) 0%,
    rgba(30, 53, 84, 1) 100%
  );
  padding: 0rem 8%;

  .workContainer {
    padding-bottom: 4rem;
  }
  .webmasterOneContainer {
    padding-top: 1rem;
  }
  .webmasterTwoContainer {
    padding-top: 0.7rem;
  }
  .workItems {
    padding-left: 2rem;
  }
  &__title {
    color: #f2fafa;
    font-weight: $semi-bold;
    line-height: 1;
    font-size: 2.5rem;
    padding: 3rem 0 2rem 8%;
    &_period {
      color: #ff8b96;
    }
  }

  &__subtitle {
    position: relative;
    z-index: 10;
    color: #fff;
    font-weight: $semi-bold;
    line-height: 1;
    font-size: 1.1rem;
    &_sub {
      padding-bottom: 0.5rem;
    }
  }

  &__paragraphR {
    position: relative;
    z-index: 10;
    color: #f2fafa;
    font-weight: $light;
    line-height: 1.6;
    font-size: calc(max(0.85rem, 14px));
    max-width: 40ch;
  }

  &__paragraphL {
    position: relative;
    z-index: 10;
    color: #f2fafa;
    font-weight: $light;
    line-height: 1.6;
    font-size: calc(max(0.85rem, 14px));
    max-width: 40ch;
    padding-top: 0.5rem;
  }

  &__link {
    background: linear-gradient(to bottom, #ff5263 0%, #ff5263 100%);

    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0.1rem 0.1rem;
    color: inherit;
    text-decoration: none;
    transition: background-size 0.2s;
  }

  &__link:hover {
    color: inherit;
    background-size: 4px 50px;
  }
  .zoom {
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;
    display: inline-block;
  }
  .zoom img {
    transition: transform 0.5s ease;
  }

  .zoom:hover img {
    transform: scale(1.02);
  }
  .margin-left {
    margin-left: 4rem;
  }
  &__img {
    &_nhd {
      z-index: 10;
      width: 100%;
      max-width: 20rem;
      border-radius: 1rem;
    }

    &_wiz {
      position: relative;
      z-index: 10;
      width: 100%;
      max-width: 20rem;
      border-radius: 1rem;
    }
    &_volta {
      position: relative;
      z-index: 10;
      width: 100%;
      max-width: 20rem;
      border-radius: 1rem;
    }
    &_nhmi {
      position: relative;
      z-index: 10;
      width: 100%;
      max-width: 13rem;
      border-radius: 1rem;
      //margin-left: 4rem;
    }
    &_dmc {
      position: relative;
      z-index: 10;
      width: 100%;
      max-width: 23rem;
      border-radius: 1rem;
    }
    &_fantasy {
      position: relative;
      z-index: 10;
      width: 100%;
      max-width: 13rem;
      border-radius: 0.5rem;
      //margin-left: 4rem;
    }
  }

  &__year {
    &_2018,
    &_2019,
    &_2020,
    &_2021,
    &_2022,
    &_2023 {
      position: absolute;
      transform: rotate(90deg);
      font-weight: $bold;
      font-size: 8rem;
      color: rgba(#457b9d, 0.1);
      z-index: 1;
      letter-spacing: 1px;
    }
    &_2018,
    &_2020 {
      right: -3rem;
    }
    &_2019 {
      left: -8rem;
    }
    &_2022 {
      left: -8rem;
      top: 5rem;
    }
    &_2021 {
      right: -3rem;
      top: -5%;
    }
    &_2023 {
      right: -3rem;
      top: -10rem;
    }
  }
}
@media only screen and (max-width: $lg) {
  .work {
    padding: 2rem 0;
    &__img {
      &_nhd,
      &_wiz,
      &_volta,
      &_nhmi,
      &_dmc {
        display: none;
      }
    }
    .workContainer {
      width: 90%;
      margin: 0 auto 0 auto;
      padding-bottom: 2rem;
    }
    .workItems {
      padding: 1.5rem;
    }
    .flex-change {
      align-items: flex-start !important;
    }
    .neg-margin {
      margin-top: -2rem;
    }
    &__paragraphR {
      max-width: 60ch;
    }

    &__paragraphL {
      max-width: 60ch;
    }

    &__year {
      &_2018,
      &_2019,
      &_2020,
      &_2021,
      &_2022 {
        position: absolute;
        transform: rotate(0deg);
        font-weight: $bold;
        font-size: 4.5rem;
        color: rgba(#457b9d, 0.1);
        z-index: 1;
        letter-spacing: 1px;
        top: -3rem;
        right: 2rem !important;
        left: unset;
      }
    }
  }
  #eighteen,
  #twenty-one {
    top: -4rem !important;
  }
}
@media only screen and (max-width: $md) {
  .work {
    .workContainer {
      width: 100%;
      margin: 0 auto 0 auto;
      padding-bottom: 2rem;
    }
  }
}
// ** Footer ** //
.footer {
  background: rgb(23, 42, 69);
  background: linear-gradient(
    90deg,
    rgba(23, 42, 69, 1) 0%,
    rgba(30, 53, 84, 1) 100%
  );
  padding: 3rem 8%;
  color: #fff;

  .contact {
    padding-right: 1rem;
    &__title {
      padding-bottom: 0.25rem;
      font-size: 1rem;
      font-weight: $semi-bold;
      span {
        color: #ff8b96;
      }
    }
    &__subTitle {
      font-size: 0.9rem;
      font-weight: $regular;
      margin-bottom: 0.1rem;
    }
    &__text {
      font-size: 0.9rem;
      font-weight: $light;
    }
    &__link {
      color: #ebe9e9;
      font-size: 0.9rem;
      font-weight: $light;
      transition: 100ms ease color;
    }
    &__link:focus,
    &__link:hover {
      transition: 200ms ease color;
      color: #ffffff;
    }
  }
  .links {
    padding-left: 1rem;
    &__title {
      padding-bottom: 0.25rem;
      font-size: 1rem;
      font-weight: $semi-bold;
      span {
        color: #ff8b96;
      }
    }
    &__text {
      margin-bottom: 0.75rem;
      color: #ebe9e9;
      text-decoration: underline;
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: $light;
      transition: 100ms ease color;
    }
    #home {
      margin-top: 0.5rem;
    }
    &__text:focus,
    &__text:hover {
      transition: 200ms ease color;
      color: #ffffff;
    }
  }
}

@media only screen and (max-width: $md) {
  .footer {
    padding: 0 !important;
    margin-top: -4rem;
    .footer-flex-one,
    .footer-flex-two {
      padding: 1rem 2.5rem !important;
      justify-content: flex-start !important;
    }
    .footer-flex-two {
      padding-top: 2rem;
    }
    .links {
      padding-left: 0;
    }
  }
}
